@import '../assets/scss/black-dashboard-react';

.App {
  min-height: 100vh;
  display: block;
  color: white;
  overflow: hidden;

  .center {
    text-align: center;
  }

  .ReactTable {
    &.-striped .rt-tr.-odd {
      background-color: rgba(0,0,0,0.15);
    }
    &.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
      background-color: rgba(0,0,0,0.35);
    }
    .-pagination .-btn {
      color: $gray-400;
    }
  }

}


// FIXME : the positioning is really dirty, refactor this
.iframe-cover {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: 2;
  background-color: rgba(black, .6);

  &.iframe-cover-hidden {
    display: none;
  }

  .iframe-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    .esi-iframe {
      width: 795px;
      height: 500px;
      //&.esi-iframe-left {
      //  transform: translate(0%,-100%);
      //}
      //&.esi-iframe-center {
      //}
      //&.esi-iframe-right {
      //  transform: translate(0%,0%);
      //}
    }

    .iframe-actions {

    }
  }
}

