@import '../assets/scss/black-dashboard-react';

.Characters {
  .char-error {
    color: red;
    padding: 20px 80px;
    border: 1px solid #222222;
    background-color: rgba(120, 14, 0, 0.5);
    font-size: 14px;
  }

  .char-list{
    padding-left: 0 !important;
    margin-bottom: 5px;

    .char-list-item {
      cursor: pointer;
      margin: 1px;

      & > * {
        pointer-events: none;
      }

      &.char-selected {
        background-color: rgba(60,250,60,0.2);
      }

      .char-info {
        .char-name {
          margin: 0;
        }
        .wallet-balance {
          margin: 0;
          font-size: 12px;
        }
      }
    }
  }

  .char-add-button {
    color: $gray-500 !important;
  }
}

$char-card-padding: 2px;

.Character-card {
  width: calc(100% - #{2 * $char-card-padding}) !important;
  margin: $char-card-padding;
  margin-bottom: 5px !important;
  cursor: pointer;

  &:not(.character-card-selected) {
    flex-direction: row;

    .small-portrait-container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .card-body {
      padding-top: 5px;
      padding-bottom: 5px;
      .char-name {
        margin-bottom: 0;
      }
    }
  }

  .char-actions {
    pointer-events: all;
    float: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;

    & > * {
      margin-top: 5px;

      &:hover {
        color: $red;
      }
      &.rotate {
        animation: rotating 2s linear infinite;
      }
    }

  }
}

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
