@import '../assets/scss/black-dashboard-react';

.esi-field-container {
  //position: relative;
  //display: flex;
  //flex-direction: row;
  //align-items: baseline;
  //margin-bottom: 10px;
  //
  //.esi-field-label {
  //  width: 200px;
  //  text-align: right;
  //  padding-right: 15px;
  //}
  //
  //.esi-field {
  //  flex: 1;
  //}
}

.esi-form-group {

}

.esi-select {
  height: calc(2.25rem + 2px) !important;

  .esi-select__control {
    background-color: transparent;
    border-color: #2b3553;
    box-shadow: none;
    border-radius: 0.4285rem;

    &:hover {
      border-color: #2b3553;
    }

    &.esi-select__control--is-focused {
      border-color: $primary;
    }

    .esi-select__indicators {
      .esi-select__indicator-separator {
        background-color: rgba(hsl(0,0%,80%), .3);
      }
      .esi-select__dropdown-indicator {
        color: rgba(white, .6);

        &:hover {
          color: rgba(white, .8);
        }
      }
    }

    .esi-select__input {
      color: rgba(white, .6);
    }

    .esi-select__single-value {
      color: rgba(255, 255, 255, 0.8)
    }
  }

  .esi-select__menu {
    background-color: rgba(#1e1e26, .85);
    color: white;

    .esi-select__option--is-focused {
      background-color: rgba(white, .25);
    }
  }
}
