
.esi-panel-header {
  position: relative;
  background-color: rgba(255,255,255,0.1) !important;
  height: 32px;
  padding: 5px 10px !important;

  h2 {
    //font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: left;
  }

  .esi-panel-header-state {
    //font-family: "Poppins", sans-serif;
    position: absolute;
    width: 100%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(white, .5);
    pointer-events: none;
    font-weight: 100;
  }

  .esi-panel-header-buttons {
    position: absolute;
    top: 0px;
    right: 3px;

    & > button {

    }
  }
}