@import '../assets/scss/black-dashboard-react';

.esi-table {
  .grid-icon {
    position: relative !important;
    width: 20px;
    display: inline-block;

    button {
      position: absolute;
      top: -25px;
      left: -10px;
      color: $gray-400 !important;
    }
  }

  .report-lines-table {
    $columnHeaderBorders: 1px dotted rgba(255,255,255,0.15);
    .rt-th {
      border-left: $columnHeaderBorders;
      &:last-child {
        border-right: $columnHeaderBorders;
      }
    }
    .rt-td, .rt-th {
      font: 12px SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

      .grid-type-icon {
        position: relative;

        img {
          position: absolute;
          top: -5px;
          left: 5px;
        }
      }
    }
  }
}

i.loader-rotate {
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
