
.trade-report-options {

  .trade-report-options-title {
    display: inline-block;
    margin-right: 25px;
  }
  .trade-report-option {
    display: inline-block;
    background-color: rgba(white, .1);
    border-radius: 3px;
    padding: 0 10px;
    margin-right: 15px;

    .trade-report-option-label {
      color: rgba(white, .6);
      font-size: 11px;
      display: inline-block;
    }
    .trade-report-option-value {
      font-size: 13px;
      color: rgba(white, 1);
      display: inline-block;
      margin-left: 5px;
    }
  }
}